@{
    ViewBag.Title = "Reservation1";
}
@if (ViewBag.g == "true")
{
    <h1 style="color:white">Reservation Successfull</h1>
    <h2 style="color:white">Here are the details of your reservation...</h2>
    <h3 style="color:white">Number of Seats</h3>
    <h4 style="color:white">@ViewBag.b</h4>
    <h3 style="color:white">Place of departure</h3>
    <h4 style="color:white">@ViewBag.c</h4>
    <h3 style="color:white">Place of Destination</h3>
    <h4 style="color:white">@ViewBag.d</h4>
    <h3 style="color:white">Date of reservation</h3>
    <h4 style="color:white">@ViewBag.e</h4>
    <h3 style="color:white">Departure Time</h3>
    <h4 style="color:white">@ViewBag.f</h4>
    <h3 style="color:white">Bus Id</h3>
    <h4 style="color:white">@ViewBag.h</h4>
    <h3 style="color:white">Total Fare due</h3>
    <h4 style="color:white">@ViewBag.i</h4>
    
}